
bin/
obj/
out/
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
.idea/
*.sln.iml
.vscode/
secrets.json
*.log
*.mdf
*.ldf
*.db
*.sqlite
.DS_Store
Thumbs.db
project.lock.json
project.fragment.lock.json
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
_ReSharper*/
*.DotSettings.user
.idea/
*.dotCover
*.bak
*.tmp
*.temp
*.nupkg
*.snupkg
.nuget/
packages/
